<footer class="container-fluid bg-body-tertiary border-top border-1 mt-auto">
	<div class="d-flex flex-wrap justify-content-between align-items-center mb-1 py-3">
		<!--
I need dark+light mode versions of the github, linkedin, and youtube logos; these were previously implemented
as just simply loading both and then hiding one based on css prefers-color-scheme

this is a simple solution that works well; however, it has the downside of having to load both themes' logos
despite them being very similar in shape and content; only differing in color

turns out, you can EMBED the prefers-color-scheme css INTO the SVG file. I now have a (vector) image that will change color based on if
the user is using dark mode or light mode, with both themes sharing geometry etc and only differing in colors
-->
		<div class="me-auto my-3">
			<a class="me-2 link-underline link-underline-opacity-0" alt="Link to author's GitHub profile."
				href="https://github.com/Vresod">
				<img src="/src/assets/logos/github_logo.svg" alt="GitHub logo" width="40">
			</a>
			<a class="me-2 link-underline link-underline-opacity-0" alt="Link to author's LinkedIn profile."
				href="https://www.linkedin.com/in/luke-binkofsky">
				<img src="/src/assets/logos/linkedin_logo.svg" alt="LinkedIn logo" width="40">

			</a>
			<a class="me-2 link-underline link-underline-opacity-0" alt="Link to author's YouTube profile."
				href="https://www.youtube.com/@vresod">
				<img src="/src/assets/logos/youtube_logo.svg" alt="YouTube logo" width="40">
			</a>
		</div>
		<div class="text-end justify-content-end ms-auto footer-statement">
			<p>Copyright &copy; 2024 Luke Binkofsky. This website is licensed under the MIT and CC-BY-SA licenses. <a
					href="https://github.com/Vresod/vresod.github.io/blob/new/LICENSE.md">See the license file for
					more details.</a>
			</p>
			<!-- <p>All logos, including but not limited to those of GitHub, LinkedIn, YouTube, are property of their
				respective owners.</p> -->
			<p>You can view the source code for this website on <a href="https://github.com/Vresod/vresod.github.io"
					class="icon-link">GitHub<i class="bi bi-github"></i></a>.</p>
		</div>
	</div>
</footer>